src/main/mule/mule-timezone-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c8c0e83c-5c21-42e5-be06-fb5a7b8a1199" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-timezone-apiFlow" doc:id="0d4d67cc-5671-453f-b811-808a2fff029d" >
		<http:listener doc:name="Listener" doc:id="04997847-6480-4e06-a645-4fd450e10376" config-ref="HTTP_Listener_config" path="/timezone"/>
		<logger level="INFO" doc:name="Logger" doc:id="9fb553c6-9fca-4f87-9593-849e7ec0578d" message="Flow"/>
		<http:request method="GET" doc:name="Request" doc:id="b36070b1-4f88-4568-8181-86a616dc934d" url="http://worldtimeapi.org/api/timezone/Europe"/>
		<logger level="INFO" doc:name="Logger" doc:id="47f9897d-5936-47f9-8150-b6ba52163007" message="#[payload]"/>
	</flow>
</mule>
